@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
}
body{
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 65vh;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.coin{
    height: 10em;
    border: 0.45em double white ;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 0em;
}
.coin_show{
    width: 10em;
    display: flex;
}

 /* .coin_flip{
    animation: flip 0.5s 4;
}
@keyframes flip {
    0%{
        transform: rotate3d(1,1,1,0deg);  
            

    }
    40%{
        transform: rotate(360deg);
    }
    60%{
        transform: rotate3d(1,0,0,270deg);
    }
    100%{
        transform: rotate3d(1,1,1,0deg);
    
    }
    
}  */
h1{
    color: rgb(87, 163, 240);
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

.button{
    background-color:dodgerblue;
    padding: 1em 3em;
    border-radius: 3em;
}
.button a{
    letter-spacing: 0.25em;
}
.count{
    padding: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    position: relative;
    top: -3em;
    left: 1em;
}
.count_txt{
    padding: 0em 0.6em;
    font-size: 2em;
    animation: opacity 1s infinite;
}