@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/warior.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.navbar{
    position: absolute;
    top: 5vh;
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
   
}
.navbar ul{
    position: relative;
    left: 3vw;
    display: flex;
    width: 100%;
    margin-left: 5px;
}
.logo{
    display: none;
    flex-basis: 20%;
    text-align: center;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -2vh;
}
.navbar ul li{
    list-style: none;
    /* background-color: #FF4848; */
    margin-left: 2vw;
    height: fit-content;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
    border-radius:10px 0px  50px 0px;
    cursor: pointer;
}
.navbar ul li a{
    color: #FF4848;
    text-decoration: none;
    font-size: 24px;
    font-variant: small-caps;
    font-family: 'Ubuntu',sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    
}
.navbar i{
    color:#ee1010 ;
    margin: 0px 5px;
    font-size: 20px;
}
.navbar ul li:hover {
    background-color: #FF4848;
    transition: all 0.3s ease-in;
    box-shadow: 0px 0px 10px #f72727;
}
.navbar ul li:hover a{
    color: lavender;
}
.navbar ul li:hover i{
    color: lavender;
}

.content{
    position: absolute;
    top: 35vh;
    left: 5vw;
}
h1{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 3px;
    color: #f72727;
    animation: color;
    
}
p{
    margin-top: 2em;
    font-size: 16px;
    font-family: 'Ubuntu',sans-serif;
    letter-spacing: 1px;

}
@media (max-width:900px) {
    .navbar ul{
        left: 0;
        width: 100%;
    }
    .logo{
        display: none;
    }
    
    .navbar ul li a{
        font-size: 20px;
    }
    .navbar ul li a i{
        font-size: 21px;
    }
    h1{
        font-size: 2.2em;
    }
    p{
        font-size: 14px;
    }
}
@media (max-width:600px) {
    .navbar ul{
        left: 0;
        margin-left: 0px;
        width: 100%;
    }
    .navbar ul li{
        padding-right: 18px;
    }
    .navbar ul li a{
        font-size: 17px;
        padding-left: 2px;
    }
    .navbar ul li i{
        font-size: 18px;
        margin:  0px;
    }
    h1{
        font-size: 1.85em;
    }
    
    
}
